<ion-modal-view>

        <ion-slide-box show-pager="true" style="background: #efefef;">
            <ion-slide>
                <img src="imgs/hello_slides/hello_test.png" style="width: 100%;">
            </ion-slide>
            <ion-slide>
                <img src="imgs/hello_slides/hello_social.png" style="width: 100%;">
            </ion-slide>
            <ion-slide>
                <img src="imgs/hello_slides/hello_music.png" style="width: 100%;">
            </ion-slide>
            <ion-slide>
                <img src="imgs/hello_slides/hello_reading.png" style="width: 100%;">
            </ion-slide>
            <ion-slide>
                <img src="imgs/hello_slides/hello_user.png" style="width: 100%;">
                <div style="position: absolute;top: 72%;width: 100%;" align="center">
                    <a class="button button-outline button-balanced" ui-sref="tabs.test" style="width: 190px;border-radius: 30px;" ng-click="closeHelloSlidesModal()">立即体验</a>
                </div>
            </ion-slide>
        </ion-slide-box>

</ion-modal-view>


<!--<ion-slide-box show-pager="true" style="background: #efefef;">-->
    <!--<ion-slide style="background-image: url(imgs/hello_slides/hello_test.png);background-size: 100% 100%;"></ion-slide>-->
    <!--<ion-slide-->
            <!--style="background-image: url(imgs/hello_slides/hello_social.png);background-size: 100% 100%;"></ion-slide>-->
    <!--<ion-slide style="background-image: url(imgs/hello_slides/hello_music.png);background-size: 100% 100%;"></ion-slide>-->
    <!--<ion-slide-->
            <!--style="background-image: url(imgs/hello_slides/hello_reading.png);background-size: 100% 100%;"></ion-slide>-->
    <!--<ion-slide on-slide-changed="slideHasChanged(index)"-->
               <!--style="background-image: url(imgs/hello_slides/hello_user.png);background-size: 100% 100%;">-->
        <!--<div style="position:  relative; top: 72%;" align="center">-->
            <!--<a class="button button-outline button-balanced" ui-sref="tabs.test" style="width: 190px;border-radius: 30px;" ng-click="fn_immediateExperience()">立即体验</a>-->
        <!--</div>-->
    <!--</ion-slide>-->
<!--</ion-slide-box>-->