<ion-view title=" 测试页面 ">

    <ion-header-bar align-title="center" >

        <h1 class="title" >基础测试</h1>

        <a class="button button-clear icon-right ion-navicon button-dark" href="#/tabs/historyRecords" nav-direction="forward"></a>
        <!--<button class="button button-clear">Edit</button>-->
    </ion-header-bar>


    <ion-content has-header="true" no-padding="true" style=" background: #387df6eb">
        <div>
            <div align="center" style="position:  relative;top: 100px;">

                <img src="http://bpic.588ku.com/element_origin_min_pic/18/04/05/f81868b100d7ff98ce5449cdbfb74866.jpg"
                     style="top: 5px;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;position:  relative;">


                <div style="position:  relative;top: 20px">
                    <h3 style="color: #fff;font-size: 20px">嗨，初次见面</h3>
                    <h3 style="color: #fff;;font-size: 20px">希望我们聊天愉快</h3>
                </div>
                <div icon="ripple" class="spinner-positive spinner spinner-ripple" ng-hide="items" align="center" style="margin-top: 90px;width: 190px; height: 65px;" ui-sref="tabs.startAnswer" nav-direction="forward">
                    <svg  style="width: 60px ;height: 60px ;" >
                        <g fill="none" fill-rule="evenodd" stroke-width="3">
                            <circle cx="32" cy="32" r="20.3471">
                                <animate attributeName="r" begin="0s" dur="2s" values="0;24" keyTimes="0;1"
                                         keySplines="0.1,0.2,0.3,1" calcMode="spline" repeatCount="indefinite"></animate>
                                <animate attributeName="stroke-opacity" begin="0s" dur="2s" values=".2;1;.2;0"
                                         repeatCount="indefinite"></animate>
                            </circle>
                            <circle cx="32" cy="32" r="1.46494">
                                <animate attributeName="r" begin="-1s" dur="2s" values="0;24" keyTimes="0;1"
                                         keySplines="0.1,0.2,0.3,1" calcMode="spline" repeatCount="indefinite"></animate>
                                <animate attributeName="stroke-opacity" begin="-1s" dur="2s" values=".2;1;.2;0"
                                         repeatCount="indefinite"></animate>
                            </circle>
                        </g>
                    </svg>
                </div>


                <div style="position:  relative;top: -56px;z-index: -1;">
                    <a class="button"  style="width: 190px;border-radius: 30px;">开始测试</a>
                </div>
            </div>

        </div>


        <!--<div ng-show="show_question_windows" style="background: #000;height: 200px;width: 200px; ">-->

        <!--</div>-->
    </ion-content>
</ion-view>


<!--<ion-header-bar class="bar-positive change_common_bg">-->
<!--<h1 class="title" style="font-size:15px;text-align:center;">-->
<!--设施农业物联网控制系统-->
<!--<span ng-hide="process > 99" ng-bind="'(下载:'+process+'%)'"></span>-->
<!--</h1>-->
<!--</ion-header-bar>-->

<!--<div class="top">-->
<!--<div class="top_div_three" ng-click="fn_login_out()">-->
<!--<i class="ion-android-person ion_css" style="color: #fff;"></i>-->
<!--{{ userName || '用户登录' }}-->
<!--</div>-->
<!--<div class="top_div_three" ng-click="fn_goto_('factoryInfo')">-->
<!--<i class="ion-android-desktop ion_css" style="color:#fff"></i>工厂概况-->
<!--</div>-->
<!--<div class="top_div_three" ng-click="fn_goto_('warning')">-->
<!--<i class="ion-alert-circled ion_css" style="color: #fff;"></i>-->
<!--报警({{  var_common_warning_num>0?var_common_warning_num:'0' }})-->
<!--</div>-->
<!--</div>-->
<!--<div style="clear:both;"></div>-->

<!--<div class="box_title"><i class="ion-settings top_user_a"></i>配置管理</div>-->
<!--<div class="container">-->
<!--<div class="box3" ng-click="fn_goto_('plantFactory')">-->
<!--<i class="ion-android-desktop ion_css" style="color: #5891f3;"></i>-->
<!--工厂管理-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('modbusRTU')">-->
<!--<i class="ion-shuffle ion_css" style="color: green;"></i>-->
<!--modbus配置-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('hortimax')">-->
<!--<i class="ion-map ion_css" style="color: #5891f3;"></i>-->
<!--hortimax配置-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('sensor')">-->
<!--<i class="ion-fork-repo ion_css" style="color: #5891f3;"></i>-->
<!--传感器-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('actuator')">-->
<!--<i class="ion-playstation ion_css" style="color: red;"></i>-->
<!--执行机构-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('lowerComputer')">-->
<!--<i class="ion-android-list ion_css" style="color: green;"></i>-->
<!--下位机配置-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('script')">-->
<!--<i class="ion-android-options ion_css" style="color: green;"></i>-->
<!--执行脚本-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('log_check')">-->
<!--<i class="ion-ios-paper ion_css" style="color: green;"></i>-->
<!--日志管理-->
<!--</div>-->
<!--<div class="box3" ng-click="fn_goto_('user')">-->
<!--<i class="ion-person-stalker ion_css" style="color: #5891f3;"></i>-->
<!--账号管理-->
<!--</div>-->

<!--</div>-->









