<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">设置地区</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item" align="center" style="border-style: hidden;">
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        省 份 :
                    </div>
                    <select ng-model="arr_userInformation.arr_userRegion.region" ng-options="item.province for item in arr_china" style="width: 40%;">
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        城 市 :
                    </div>
                    <select style="width: 40%;" ng-model ="arr_userInformation.arr_userRegion.city" >
                        <option ng-repeat="city in arr_userInformation.arr_userRegion.region.city">{{city}}</option>
                    </select>
                </label>
            </div>

        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="close_set_region_modal()">
                取 消
            </button>

            <button class="button  button-balanced"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="fn_set_region()">
                确 定
            </button>
        </div>

    </ion-content>
</ion-modal-view>