<ion-view title="用户信息设置" hide-nav-bar="true">

    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/user"
           nav-direction="back">返回</a>
        <h1 class="title">设置</h1>
    </ion-header-bar>
    <ion-content>

                <div class="list">

                    <a class="item  item-icon-left item-icon-right" href="#/tabs/setHeadPicture"
                       style="height:75px;border-top-style: hidden;" nav-direction="forward">
                        <i class="icon  ion-ios-camera-outline"></i>
                        <div style="position:  relative;top: 26%;">头像设置</div>
                        <!--<img src="http://img.zcool.cn/community/01786557e4a6fa0000018c1bf080ca.png"-->
                             <!--style="position: absolute;top: 16px;right: 30px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;">-->
                        <img src="{{user_information.userImage}}"
                             style="position: absolute;top: 16px;right: 30px;max-width: 40px;max-height: 40px;width: 100%;height: 100%;border-radius: 50%;">

                    </a>

                    <div class="item item-divider" style="border-style: hidden;">
                    </div>

                    <a class="item  item-icon-right" ng-click="open_set_name_modal()"
                       style="border-top-style: hidden;">
                        名字
                        <span class="item-note">
                        {{user_information.userName}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>

                    <a class="item  item-icon-right" ng-click="open_set_gender_modal()">
                        性别
                        <span class="item-note">
                         {{user_information.userSex}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>

                    <a class="item  item-icon-right" ng-click="open_set_region_modal()">
                        地区
                        <span class="item-note">
                         {{user_information.userRegion}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <a class="item  item-icon-right" ng-click="open_set_signature_modal()" style="border-bottom-style: hidden;">
                        个性签名
                        <span class="item-note">
                         {{user_information.userSign}}
                        </span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>

                    <div class="item item-divider" style="border-style: hidden;">
                    </div>


                    <div class="item " style="border-style: hidden;" align="center">
                        <a class="button button-block button-assertive" style="border-radius: 30px;">退出登录</a>
                    </div>

                </div>


    </ion-content>

</ion-view>


