<ion-view title="用户信息" hide-nav-bar="true">
    <ion-header-bar align-title="center">
        <h1 class="title">用户信息</h1>
        <a class="button button-clear icon-right  ion-ios-more button-dark" ng-click="openLoginModal()"></a>
    </ion-header-bar>
    <ion-content>
        <div padding="true">

            <div class="item" align="center" style="border-top-style: hidden;">

                <div style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);border-radius: 30px;">
                    <!--男-->
                    <img ng-src="{{default_user_image}}"
                         style="top: 5px;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;position:  relative;" ng-click="fn_user_move_page(1)">
                    <!--女-->
                    <!--<img ng-src="http://img.zcool.cn/community/01650e57e4a6fa0000012e7e6eab80.png"-->
                    <!--style="top: 5px;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;position:  relative;">-->
                    <!--默认-->
                    <!--<img ng-src="http://img.zcool.cn/community/01460b57e4a6fa0000012e7ed75e83.png@1280w_1l_2o_100sh.webp"-->
                    <!--style="top: 5px;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;position:  relative;">-->
                    <!--<img ng-src="../assets/imgs/rebotphoto.png" />-->
                    <p>
                    <h2 style="color: #fff;font-size: 16px;" >{{judge_login()?default_user_name:'登 陆 / 注 册'}}</h2></p>
                </div>

            </div>
            <div>

                <div class="list">

                    <a class="item item-icon-left item-icon-right" ng-click="fn_user_move_page(0)">
                        <i class="icon ion-ios-email" style="color: #22aca5;"></i>
                        我的消息
                        <span class="badge badge-assertive" style="margin-right: 10px;" ng-show="show_news">New</span>
                        <i class="icon ion-ios-arrow-right"></i>

                    </a>
                    <div class="item item-divider" style="border-style: hidden;">
                    </div>

                    <a class="item item-icon-left item-icon-right" ng-click="fn_user_move_page(1)"
                       style="border-top-style: hidden;">
                        <i class="icon ion-ios-gear" style="color: #22aca5;"></i>
                        设置
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>

                    <a class="item item-icon-left item-icon-right" ng-click="fn_user_move_page(2)">
                        <i class="icon  ion-ios-list" style="color: #22aca5;"></i>
                        测试记录
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>

                    <a class="item item-icon-left item-icon-right" ng-click="fn_user_move_page(3)">
                        <i class="icon  ion-ios-pulse-strong" style="color: #22aca5;"></i>
                        个人分析
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <a class="item item-icon-left item-icon-right" ng-click="fn_user_move_page(4)">
                        <i class="icon  ion-ios-briefcase" style="color: #22aca5;"></i>
                        收藏
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <!--<a class="item item-icon-left item-icon-right" href="#">-->
                    <!--<i class="icon  ion-ios-barcode" style="color: #22aca5;"></i>-->
                    <!--扫一扫-->
                    <!--<i class="icon ion-ios-arrow-right"></i>-->
                    <!--</a>-->
                    <!--<ion-toggle ng-model="pushNotification.checked" toggle-class="toggle-positive"-->
                    <!--ng-change="pushNotificationChange()" class="item-icon-left " >-->
                    <!--<i class="icon  ion-ios-lightbulb" style="color: #22aca5;"></i>-->
                    <!--夜间模式-->
                    <!--</ion-toggle>-->
                    <div class="item item-divider" style="border-style: hidden;">
                    </div>

                    <!--<a class="item item-icon-left item-icon-right"  style="border-top-style: hidden;">-->
                    <!--<i class="icon  ion-ios-upload" style="color: #22aca5;"></i>-->
                    <!--分享-从心开始APP- -->
                    <!--<i class="icon ion-ios-arrow-right"></i>-->
                    <!--</a>-->
                    <a class="item item-icon-left item-icon-right" href="#/tabs/appAbout"
                       style="border-top-style: hidden;" nav-direction="forward">
                        <i class="icon ion-ios-information" style="color: #22aca5;"></i>
                        关于
                        <i class="icon ion-ios-arrow-right"></i>
                    </a>
                    <!--<div class="item item-divider" style="border-style: hidden;">-->
                    <!--</div>-->

                    <!--<div class="item item-body" style="border-style: hidden;">-->
                    <!--</div>-->
                </div>

            </div>
        </div>
    </ion-content>

</ion-view>


