<ion-view view-title="阅读">
    <ion-header-bar align-title="center">
        <!--<a class="button icon-left  ion-ios-arrow-left button-clear button-dark" href="#/tabs/user"-->
        <!--nav-direction="back">返回</a>-->
        <h1 class="title">阅读</h1>
    </ion-header-bar>
    <ion-content style=" background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);">

        <div class="list card"
             style="border-radius: 12px !important;box-shadow: 0px 0px 10px 0px #33333394; ">
            <div class="item " style="padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    padding-left: 0px;
    padding-right: 0px;background: #00aa8d ">
                <ion-slide-box auto-play="true" does-continue="true" slide-interval='3000' show-pager="true"
                               active-slide="slide_index"
                               on-slide-changed="click_slide_page(slide_index)">
                    <ion-slide ng-repeat="slide in arr_read_firstPage.slide">
                        <div>
                            <img class="full-image" style="height:150px;" src="{{slide.readImage}}">

                        </div>
                        <div style="background: linear-gradient(to top right, #2fc4a5  , #22aca500);
    position: absolute;
    top: 68%;
    height: 30%;
    width: 100%;">
                            <span style="position: relative;
    top: 10%;
    left: 5%;
    font-weight: bolder;
    font-size: 18px;
    color: #fff;">{{slide.readTitle}} - {{slide.readAuthor}}</span></div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>

        <div class="item " style="background: #0000;border-style: hidden;margin-top: -5%;">
            <!--<img src="../imgs/wuhezhizhong.jpg" /> 这种方式图片出不来 要采用下面这种方式-->

            <ion-scroll direction="x" scrollbar-x="false"
                        style="margin-bottom: -5%;margin-right: -4%;margin-left: -4%;height: 175px;">
                <div ng-repeat="book in arr_read_firstPage.book" class=" card"
                     style="width: 120px;display:inline-block;position: relative;border-radius: 10px;margin-right: 6px;margin-top: 2%;box-shadow: 0px 0px 10px 0px #33333394;">

                    <img class="full-image" style="height:120px; width:100% ;border-radius: 10px;"
                         src="{{book.readImage}}">

                    <div class="item" style="height: 30px;text-align: center;">
                        <span style="top: -10px;position: relative;font-size: 10px;font-weight: bold;">{{book.readTitle}}</span><br>

                    </div>


                </div>
                <div style="display: inline-block;">

                </div>

            </ion-scroll>

        </div>
        <div align="center">
            <button class="button button-block" style="border-style: hidden;
    width: 94%;
    min-height: 30px;
    background: linear-gradient(to right, #9951ff, #6900ff69);
   border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #33333394;
    color: #fff;
    font-size: 15px;">更多书籍 >
            </button>
        </div>


        <!--<img src="imgs/wuhezhizhong.jpg" />  引入图片要采用这种方式-->
        <!--<div class="list card"-->
        <!--style="border-radius: 12px !important;box-shadow: 0px 0px 10px 0px #33333394;">-->
        <!--<a class="item item-thumbnail-left item-icon-right" ui-sref="tabs.musicPlayer" nav-direction="forward">-->
        <!--<img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=558256190,1303768790&fm=27&gp=0.jpg"-->
        <!--style="border-radius: 6px !important;">-->
        <!--<div style="margin-top: 10px;">-->
        <!--<h2>兴奋</h2>-->
        <!--<p>悦耳节奏带感歌曲精选</p>-->
        <!--<p>日常抖腿必备歌单</p>-->
        <!--</div>-->
        <!--</a>-->
        <!--</div>-->
        <div class="list card"
             style="border-radius: 12px !important;box-shadow: 0px 0px 10px 0px #33333394; "
             ng-repeat="essay in arr_read_firstPage.essay">
            <div class="item " style="padding: 0px;">


                <img class="full-image" src="{{essay.readImage}}" style="height: 175px">


                <div class="item" style="height: 30px;bottom: 5px;">
                    <span style="position: relative;top: -8px;font-size: 15px;font-weight: bold;">{{essay.readTitle}} - {{essay.readAuthor}}</span>
                </div>
            </div>
        </div>

        <div align="center">
            <button class="button button-block" style="border-style: hidden;
    width: 94%;
    min-height: 30px;
    background: linear-gradient(to right, #9951ff, #6900ff69);
   border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #33333394;
    color: #fff;
    font-size: 15px;">更多文章 >
            </button>
        </div>


        <!--<div class="list card">-->
        <!--<label class="item item-input">-->

        <!--<input type="text" placeholder="请输入 书名 / 文章名 / 作者 进行搜索" style="font-size: 17px;height: 40px;">-->
        <!--<i class="icon ion-ios-search-strong " style="font-size: 30px;right: 24px;position: relative;"></i>-->

        <!--</label>-->
        <!--</div>-->

        <!--<div class="list card" style="width: 44.5%;display: inline-block;position: relative;margin-top: 20px">-->
        <!--<div class="item item-image" style="height: 150px;width: 192px;">-->
        <!--<img src="//img11.360buyimg.com/n1/s200x200_jfs/t7957/227/2622689294/461159/86a7443e/59b22e50N6e1d836e.jpg"-->
        <!--style="height: 150px;width: 192px;">-->
        <!--</div>-->
        <!--<div class="item" style="height: 52px;">-->
        <!--<h2 style="top: -10px;position: relative;">行为心理学</h2>-->
        <!--<p style="top: -10px;position: relative;">约翰·华生 </p>-->
        <!--</div>-->

        <!--</div>-->


    </ion-content>
</ion-view>