<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">设置名字</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item" align="center" style="border-top-style: hidden;border-bottom-style: hidden;">
            <div class="list list-inset" style="margin-top: 5%" align="center">
                <div class="item item-input" style="height: 55px;">
                    <input type="text" placeholder="输入名字" ng-model="arr_userInformation.arr_userName">
                </div>

            </div>

        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="close_set_name_modal()">
                取 消
            </button>

            <button class="button  button-positive"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="fn_set_name()">
                确 定
            </button>
        </div>

    </ion-content>
</ion-modal-view>