<ion-view view-title="社区">
    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/social"
           nav-direction="back">返回</a>
        <h1 class="title">动态详情</h1>
    </ion-header-bar>
    <ion-content style="bottom: 49px;background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);">

        <div class="list card"
             style="border-radius: 17px !important;box-shadow: 0px 0px 10px 0px #33333394;">
            <div class="item item-avatar" style="height: 20px;">
                <img ng-src="{{item.imageAddre}}">
                <div style="display: inline-block;">
                    <h2>{{item.userName}}</h2>
                    <p>{{item.socialAddTime}}</p>
                </div>
                <div ng-click="fn_socialFavoriteAdd()" ng-class="favorite_ok?'favorite':'not_favorite'" style="display: inline-block;font-size: 35px;position: absolute;bottom: 18px;right:20px;">
                <i class="icon ion-heart"></i>
                </div>
            </div>
            <div class="item item-body" style="background: linear-gradient(to bottom right, #fff , #fff);">
                <img class="full-image" style="height:20%; width:100%;border-radius: 10px;"
                     ng-src="{{item.imageData}}">

                <p></p>
                <pre style="font-size: 16px;font-family:p;text-align: justify;line-height: 28px;
    text-indent: 33px;">{{item.textData}}</pre>

            </div>



            <!--<div class="item"-->
                 <!--style="font-family: cursive;font-size: 16px;" align="center">-->
                <!--<div>-->
                    <!--<div style="font-size: 30px;bottom: 10px; color: #21ABA5;">-->
                        <!--<i class="icon ion-heart"></i>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div>收藏动态</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item"-->
            <!--style="text-align: center;font-family: cursive;font-size: 16px">-->
            <!--<span style="font-size: 30px;position: absolute;bottom: 10px; color: #21ABA5;">-->
            <!--<i class="icon ion-heart"></i>-->
            <!--</span>-->
            <!--&nbsp;&nbsp;&nbsp;-->
            <!--<span>动态已收藏</span>-->
            <!--</div>-->


        </div>

        <div class="list card"
             style="border-radius: 17px !important;box-shadow: 0px 0px 10px 0px #33333394;">
            <div class="item item-input">
                <input type="text" placeholder="评论({{arr_socialComments.length}})  写评论 . . ." style="font-size: 15px;height: 40px;" ng-model="ctrlScope.comment_data">
                <div class="icon ion-edit " style="font-size: 24px;right: 21px;position: relative;color: #22aca5" ng-click="fn_socialCommentAdd()"></div>

            </div>
            <div class="item list" style="background: linear-gradient(to bottom right, #fff , #fff);width: 105%;">

                <div ng-repeat="comment in arr_socialComments track by $index" class="item item-avatar">
                    <img ng-src="{{comment.cuserImg}}">
                    <h2>{{comment.cuserName}}</h2>
                    <p>{{comment.commentData}}</p>
                </div>

                <div ng-show="arr_socialComments.length == 0" class="item"
                     style="text-align: center;font-size: 16px">
                    <span>暂无评论...</span>
                </div>

            </div>
        </div>

    </ion-content>

</ion-view>
