<ion-view view-title="社区">
    <ion-header-bar align-title="center">
        <!--<a class="button button-clear icon-left ion-ios-folder-outline button-dark" href="#/" nav-direction="forward" style="color: rgba(0, 0, 0, 0.55);"></a>-->

        <h1 class="title">社区</h1>
        <a class="button button-clear icon-right  ion-ios-more button-dark" href="#/" nav-direction="forward" style="color: rgba(0, 0, 0, 0.55);"></a>

    </ion-header-bar>
    <ion-content style="bottom: 49px;background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);" >
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="list card" style="border-radius: 20px;box-shadow: 0px 0px 10px 0px #33333394;">

            <div class="item item-avatar" style="height: 20px;">
                <img src="http://img.zcool.cn/community/01786557e4a6fa0000018c1bf080ca.png@1280w_1l_2o_100sh.webp">
                <div style="display: inline-block;">
                    <h2>小薛</h2>
                    <p>2018年5月18日</p>
                </div>
                <div style="display: inline-block;font-size: 35px;position: relative;left: 56%;bottom: 9px;">
                    <i class="icon  ion-ios-personadd-outline"></i>
                </div>
            </div>
            <div class="item item-body" style="background: linear-gradient(to bottom right, #fff , #fff);">
                <img class="full-image" style="height:20%; width:100%"
                     src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=594996916,636240317&fm=200&gp=0.jpg">
                <p>
                    对待生活中的每一天若都像生命中的最后一天去对待，人生定会更精彩。在必要时候需要弯一弯，转一转，因为太坚强容易折断，我们需要更多的柔软，才能战胜挫折。


                </p>
            </div>

            <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-thumbsup"></i>-->
            <!--点赞-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-chatbox"></i>-->
            <!--评论-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </ion-content>

    <ion-footer-bar  style="bottom: 89px;
    background: rgba(56, 126, 245, 0.89);
    border-radius: 50%;
    top: 83.5%;
    left: 83.4%;
    max-width: 55px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px #387ef5;">

        <div class="title"  style="color: #fff;font-size: 35px;top: 8%; left: 5%;">
            <i class="icon  ion-compose"></i>
        </div>


    </ion-footer-bar>
</ion-view>


<!--//屏幕内自定滚动区域  <ion-content>内要加上scroll="false"属性-->
<!--<ion-scroll direction="y" style="position: absolute;top: 40px!important;bottom: 0;left: 0;right: 0;">-->
<!--</ion-scroll>-->


<!--<ion-view view-title="{{title}}" id="category">-->
<!--<ion-nav-buttons side="left" class="has-header">-->
<!--<button class="button button-icon icon ion-ios-arrow-back" ui-sref="page6"></button>-->
<!--</ion-nav-buttons>-->
<!--<ion-nav-buttons side="right" class="has-header">-->
<!--<button class="button button-icon icon ion-android-home" ui-sref="page6"></button>-->
<!--</ion-nav-buttons>-->
<!--<ion-content padding="true" class="has-header">-->
<!--<ion-refresher-->
<!--pulling-text="Pull to refresh..."-->
<!--on-refresh="doRefresh()">-->
<!--</ion-refresher>-->
<!--<ion-list id="page5-list5">-->
<!--<ion-item ng-repeat="item in lists" class="item-grid-two" id="page5-list-item{{item.product_id}}">-->
<!--<div class="pic">-->
<!--<a href="/wap/product-{{item.product_id}}.html">-->
<!--<img src="http://pics.imopark.com/{{item.default_image}}"></a><i></i>-->
<!--</div>-->
<!--<div class="product-info">-->
<!--<div class="p-price-bar">-->
<!--<span class="fl p-price"> <em class="price">￥{{item.price}}</em>-->
<!--</span>-->
<!--<span class="fl p-discount"> <em class="">{{item.zk}}折</em>-->
<!--</span>-->
<!--<span class="fr p-sale-num">已售 {{item.codersum}}</span>-->
<!--</div>-->
<!--<h2 class="p-name">-->
<!--<a href="/wap/product-{{item.product_id}}.html" class="split">{{item.name}}</a>-->
<!--</h2>-->
<!--</div>-->
<!--</ion-item>-->
<!--</ion-list>-->
<!--<ion-infinite-scroll-->
<!--ng-if="can_loadmore()"-->
<!--on-infinite="loadMore()"-->
<!--distance="1%">-->
<!--</ion-infinite-scroll>-->
<!--</ion-content>-->
<!--</ion-view>-->