<ion-view title="开始做答" hide-nav-bar="true">
    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/test"
           nav-direction="back">返回</a>
        <h1 class="title">测试中</h1>
    </ion-header-bar>
    <ion-content>
        <div>

            <div class="item" align="center" style="border-top-style: hidden;">

                <div style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);;border-radius: 30px;">
                    <img ng-src="http://bpic.588ku.com/element_origin_min_pic/18/04/05/f81868b100d7ff98ce5449cdbfb74866.jpg"
                         style="top: 5px;max-width: 70px;max-height: 70px;width: 100%;height: 100%;border-radius: 50%;position:  relative;">
                    <!--<img ng-src="../assets/imgs/rebotphoto.png" />-->
                    <p>
                    <h2 style="color: #ffffff8a;font-size: 10px;">测试小助手</h2></p>
                    <p>
                    <h2 style="color: #ffffff;font-size: 13px;">嗨 , 我是小乐</h2></p>
                </div>

            </div>

            <div class="item item-body" style="border-bottom-style: hidden;">

                <ion-slide-box show-pager="false">
                    <ion-slide on-slide-changed="slideHasChanged(index)"
                               ng-repeat="list in examination_default.questionsMessage">

                        <p style="margin-left: 40px;margin-right: 40px;font-size: 18px; line-height: 30px;text-indent: 40px; color: #000000b8;">
                            {{list.questionName}}</p>
                        <div>
                            <button class="button  button-block "
                                    style="border-radius: 15px;background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);color: #000000b8;font-weight: bold;"
                                    ng-repeat="list1 in list.questionOptions"
                                    ng-click="nextSlide(0);fn_calculate_score(list1.optionValue)"
                                    ng-model="list1.optionValue">
                                {{list1.optionName}}
                            </button>

                        </div>
                    </ion-slide>
                    <ion-slide on-slide-changed="slideHasChanged(index)">
                        <div style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);border-radius: 30px;height: 470px;"
                             align="center">
                            <img ng-src="imgs/1.svg" height="90" width="90" style="position: relative;top:30px;"/>
                            <div style="position:  relative;top: 20px">
                                <h3 style="color: #fff;;font-size: 20px">测试完成</h3>
                            </div>
                            <div style="position: relative;top: 80px;">
                                <a class="button" style="width: 190px;border-radius: 30px;color: #000000b8;font-weight: bold;"
                                   ng-click="fn_return_user_test_results()">点击查看测试结果</a>
                            </div>
                        </div>


                    </ion-slide>
                    <ion-slide on-slide-changed="slideHasChanged(index)">
                        <div style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);border-radius: 30px;height: 470px;position: relative;top:-16px;"
                             align="center">
                            <div style="position:  relative;top: 20px;">
                                <h3 style="font-size: 20px;color: #000000b8;font-weight: bold;">——> 测试结果 <——</h3>
                                <h3 style="font-size: 20px;color: #000000b8;font-weight: bold;">{{last_results.summary}}</h3>
                                <p align="justify"
                                   style="margin-left: 20px;margin-right: 20px;font-size: 16px;line-height: 20px;text-indent: 33px;color: #000000b8;font-weight: bold;">
                                    {{last_results.queConclusion}}</p>

                            </div>
                        </div>


                    </ion-slide>
                </ion-slide-box>


            </div>


        </div>
    </ion-content>
</ion-view>


