<ion-view view-title="关于">

    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/user"
           nav-direction="back">返回</a>
        <h1 class="title">关于</h1>
    </ion-header-bar>

    <ion-content style=" background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);" align="center">

        <!--<div class="card" ng-repeat="record in arr_test_historyRecords track by $index" style="border-radius: 15px;">-->
        <!--<a  class="item item-avatar" ng-click="showAlert(record)">-->
        <!--<div class="icon ion-ios-paper" style="color: #22aca5;position: absolute;top: 27px;left: 19px;font-size: 45px;"></div>-->
        <!--<h2>{{record.testName}}</h2>-->
        <!--<p>{{record.testScore}}分</p>-->
        <!--<p>{{record.time}}</p>-->
        <!--</a>-->
        <!--</div>-->
        <!--<div class="card" style="border-radius: 15px;" ng-show="arr_test_historyRecords.length == 0">-->
        <!--<div class="item"-->
        <!--style="text-align: center;font-size: 16px">-->
        <!--<span style="font-size: 16px;font-weight: bold;">暂无测试记录...</span>-->
        <!--</div>-->
        <!--</div>-->


            <img src="imgs/logo.jpg" style="width: 30%;
    border-radius: 50%;
    position: relative;
    margin-top: 30%;"/>

        <div style="color: #48525e;
    position: relative;
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;">
            从心开始
        </div>
        <div style="color: #48525e;
    position: relative;
    margin-top: 5%;
    font-size: 23px;
    font-weight: bold;">V1.0</div>


    </ion-content>


</ion-view>


