<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">设置个性签名</h1>
    </ion-header-bar>
    <ion-content >
        <div class="item" align="center" style="border-top-style: hidden;border-bottom-style: hidden;">
            <div class="list list-inset" style="margin-top: 5%" align="center">
                <label class="item item-input">
                    <textarea placeholder="个性签名 . . ." style="height: 200px;" ng-model = "arr_userInformation.arr_userSign"></textarea>
                </label>

            </div>

        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="close_set_signature_modal()">
                取 消
            </button>

            <button class="button  button-balanced"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="fn_set_gender()">
                确 定
            </button>
        </div>

    </ion-content>
</ion-modal-view>