<ion-view view-title="音乐播放器">
    <ion-header-bar align-title="center">
        <a class="button icon-left  ion-ios-arrow-left button-clear button-dark" href="#/tabs/music"
           nav-direction="back">返回</a>
        <h1 class="title">音乐播放</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true" style="background-image: url({{musicType.background}}); background-size: 100% 100%; bottom: 49px; ">
        <!--<span style="font-size: 25px;position: relative;top: 20px;font-family: cursive;color: #fff;">快乐</span>-->
        <div align="center" style="position: absolute;
        margin-left: -5px;
    width: 100%;
    height: 50%;">
            <img src="./imgs/out_line_back.png" style="position: relative;height: 100%;">
        </div>
        <div align="center" style="position: absolute;
    top: 4.6%;
    width: 100%;
    height: 35.1%;">

            <img class="Rotation" src="./imgs/music_circle.jpg"
                 style="position: relative;height: 100%;border-radius: 60%;box-shadow: 0px 0px 20px 8px #333333ab;"
                 ng-click="play_music()">

        </div>

        <audio id="musicPlayer" ng-src="http://www.ytmp3.cn/?down/38177.mp3"></audio>


        <div class="list card"
             style="position: relative;
    border-radius: 17px !important;
    box-shadow: 0px 0px 10px 0px #33333394;
    top: 41%;
    background: #0000005c;height: 54%;margin-bottom: 0px;">
            <div class="item item-avatar" style="height: 1px;background: #0000;">
                <div style="font-size: 35px;position: absolute;left: 23px;bottom: 16px; color: #21ABA5;">
                    <i class="icon ion-chatbubble-working"></i>
                </div>
                <span style="position: absolute;font-size: 16px;bottom: 24px;">播放列表（{{musicList.length}}）</span>
            </div>
            <ion-scroll direction="y" scrollbar-y="false"
                        style="height: 80%;">
                <div class="item list" style="background: #ffffffbf;;width: 105%;">

                    <a ng-repeat="music in musicList track by $index" class="item item-avatar" style="background: #0000;border-style: hidden;">
                        <img ng-src="https://img.zcool.cn/community/013dce58d0a71ea801219c77d4227a.png">
                        <h2>{{music.songName}}</h2>
                        <p>{{music.songAuthor}}</p>
                    </a>
                </div>
            </ion-scroll>
        </div>


        <!--<div class="wrapper">-->
        <!--&lt;!&ndash; 背景图片 &ndash;&gt;-->
        <!--<div class="background">-->
        <!--<div class="music-lyric" style="display:block">-->
        <!--<div class="lyric-view">-->
        <!--<ul class="lyric"></ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="content">-->
        <!--<audio ng-src=""></audio>-->
        <!--<div class="music-massage">-->
        <!--<p class="musicname" title=""></p>-->
        <!--<p class="musicer" title=""></p>-->
        <!--<p class="record" title="" data-id=""></p>-->
        <!--</div>-->
        <!--&lt;!&ndash; 分享，收藏，喜欢按钮 &ndash;&gt;-->
        <!--<div class="music-icon">-->
        <!--<a class="m-icon m-fenxiang colored" href="http://service.weibo.com/share/share.php?title=#_loginLayer_1466697157538" target="new"></a>-->
        <!--<span class="m-icon m-star colored"></span>-->
        <!--<span class="m-icon m-heart colored"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 进度条 &ndash;&gt;-->
        <!--<span class="basebar">-->
        <!--<span class="progressbar"></span>-->
        <!--</span>-->
        <!--<div class="controls">-->
        <!--&lt;!&ndash; 音乐播放。换频道，下一曲按钮 &ndash;&gt;-->
        <!--<div class="play-control">-->
        <!--<span class="m-icon m-play btn1" title="播放/暂停"></span>-->
        <!--<span class="m-icon m-change btn2" title="换频道"></span>-->
        <!--<span class="m-icon m-next btn3" title="换曲"></span>-->
        <!--</div>-->
        <!--&lt;!&ndash; 循环播放，随机播放按钮 &ndash;&gt;-->
        <!--<div class="music-control">-->
        <!--<span class="m-icon m-xunhuan colored"></span>-->
        <!--<span class="m-icon m-lyric colored lyriced"></span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </ion-content>

</ion-view>