<ion-view title="开始做答" hide-nav-bar="true">
    <ion-header-bar align-title="center">
        <!--<div class="buttons">-->
        <!--<button class="button icon icon-left ion-chevron-left" ng-click="doSomething()">上一题</button>-->
        <!--</div>-->
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tabs/test"
           nav-direction="back">返回</a>
        <h1 class="title">测试中</h1>
        <!--<div class="buttons">-->
        <!--<button class="button icon icon-right ion-chevron-right">下一题</button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content>
        <!--<div class="list card">-->
        <div>

            <div class="item" align="center" style="border-top-style: hidden;">

                <div style="background: #4787f6;border-radius: 30px;">
                    <img src="http://bpic.588ku.com/element_origin_min_pic/18/04/05/f81868b100d7ff98ce5449cdbfb74866.jpg"
                         style="top: 5px;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;position:  relative;">
                    <!--<img src="../assets/imgs/rebotphoto.png" />-->
                    <p>
                    <h2 style="color: #ffffff8a;font-size: 10px;">测试小助手</h2></p>
                    <p>
                    <h2 style="color: #ffffff;">嗨 , 我是小乐</h2></p>
                </div>

            </div>

            <div class="item item-body" style="border-bottom-style: hidden;">
                <!--<div ng-repeat="list in questions" >-->
                <!--<p style="margin-left: 40px;margin-right: 40px;font-size: 20px; line-height: 30px;text-indent: 40px; color: #000;">-->
                <!--{{list.questionName}}</p>-->
                <!--<div>-->
                <!--<button class="button button-outline button-block button-positive" style="border-radius: 30px;" ng-repeat="list1 in list.questionOptions">-->
                <!--{{list1.optionName}}-->
                <!--</button>-->

                <!--</div>-->
                <!--</div>-->

                <ion-slide-box show-pager="false" >
                    <ion-slide on-slide-changed="slideHasChanged(index)" ng-repeat="list in questions">

                        <p style="margin-left: 40px;margin-right: 40px;font-size: 20px; line-height: 30px;text-indent: 40px; color: #000;">
                            {{list.questionName}}</p>
                        <div>
                            <button class="button  button-block button-positive"
                                    style="border-radius: 8px;" ng-repeat="list1 in list.questionOptions"
                                    ng-click="nextSlide()">
                                {{list1.optionName}}
                            </button>

                        </div>
                    </ion-slide>
                </ion-slide-box>


            </div>
            <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-thumbsup"></i>-->
            <!--喜欢-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-chatbox"></i>-->
            <!--评论-->
            <!--</a>-->
            <!--<a class="tab-item" href="#">-->
            <!--<i class="icon ion-share"></i>-->
            <!--分享-->
            <!--</a>-->
            <!--</div>-->

        </div>
    </ion-content>
    <!--<ion-footer-bar align-title="center" class="bar-assertive">-->
    <!--<div class="buttons">-->
    <!--<button class="button">左侧按钮</button>-->
    <!--</div>-->
    <!--<h1 class="title">底部标题</h1>-->
    <!--<div class="buttons" ng-click="doSomething()">-->
    <!--<button class="button">右侧按钮</button>-->
    <!--</div>-->
    <!--</ion-footer-bar>-->
</ion-view>


