<ion-view view-title="历史记录">

    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/user"
           nav-direction="back">返回</a>
        <h1 class="title">测试记录</h1>
    </ion-header-bar>

    <ion-content style=" background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);">
        <!--<div icon="bubbles" class="spinner-balanced spinner spinner-bubbles" ng-hide="items" align="center"-->
             <!--style="margin-top: 60%;">-->
            <!--<svg style="width: 64px ;height: 64px ;">-->
                <!--<g stroke-width="0">-->
                    <!--<circle cx="24" cy="0" transform="translate(32,32)" r="5.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="8;7;6;5;4;3;2;1;8"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="16.970562748477143" cy="16.97056274847714" transform="translate(32,32)" r="6.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="1;8;7;6;5;4;3;2;1"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="1.4695761589768238e-15" cy="24" transform="translate(32,32)" r="7.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="2;1;8;7;6;5;4;3;2"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="-16.97056274847714" cy="16.970562748477143" transform="translate(32,32)" r="4.20527">-->
                        <!--<animate attributeName="r" dur="750ms" values="3;2;1;8;7;6;5;4;3"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="-24" cy="2.9391523179536475e-15" transform="translate(32,32)" r="1.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="4;3;2;1;8;7;6;5;4"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="-16.970562748477143" cy="-16.97056274847714" transform="translate(32,32)" r="2.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="5;4;3;2;1;8;7;6;5"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="-4.408728476930472e-15" cy="-24" transform="translate(32,32)" r="3.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="6;5;4;3;2;1;8;7;6"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="16.970562748477136" cy="-16.970562748477143" transform="translate(32,32)" r="4.5421">-->
                        <!--<animate attributeName="r" dur="750ms" values="7;6;5;4;3;2;1;8;7"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                <!--</g>-->
            <!--</svg>-->
        <!--</div>-->

        <!--show-delete与show-reorder 绑定对应$scope 中的对象 可以更加自由的实现对列表的操作  如：根据用户身份，限制其操作列表-->
        <!--<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">-->
        <!--<ion-list show-delete="false" show-reorder="false">-->

            <!--<ion-item ng-repeat="record in arr_test_historyRecords"-->
                      <!--ng-click="showAlert(record)" class="item-remove-animate">-->
                <!--{{ record.testName }}-->

                <!--&lt;!&ndash;<ion-option-button class="button-assertive"&ndash;&gt;-->
                                   <!--&lt;!&ndash;ng-click="showConfirm(item)">&ndash;&gt;-->
                    <!--&lt;!&ndash;删除&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-option-button>&ndash;&gt;-->
                <!--&lt;!&ndash;<ion-reorder-button class="ion-navicon"&ndash;&gt;-->
                                    <!--&lt;!&ndash;on-reorder="moveItem(item, $fromIndex, $toIndex)">&ndash;&gt;-->

                <!--&lt;!&ndash;</ion-reorder-button>&ndash;&gt;-->

                <!--&lt;!&ndash;<ion-delete-button class="ion-minus-circled"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="onItemDelete(item)">&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-delete-button>&ndash;&gt;-->


                <!--&lt;!&ndash;<ion-option-button class="button-assertive"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-click="edit(item)">&ndash;&gt;-->
                <!--&lt;!&ndash;Edit&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-option-button>&ndash;&gt;-->
            <!--</ion-item>-->

        <!--</ion-list>-->

        <div class="card" ng-repeat="record in arr_test_historyRecords track by $index" style="border-radius: 15px;">
            <a  class="item item-avatar" ng-click="showAlert(record)">
                <div class="icon ion-ios-paper" style="color: #22aca5;position: absolute;top: 27px;left: 19px;font-size: 45px;"></div>
                <h2>{{record.testName}}</h2>
                <p>{{record.testScore}}分</p>
                <p>{{record.time}}</p>
            </a>
        </div>
        <div class="card" style="border-radius: 15px;" ng-show="arr_test_historyRecords.length == 0">
            <div class="item"
                 style="text-align: center;font-size: 16px">
                <span style="font-size: 16px;font-weight: bold;">暂无测试记录...</span>
            </div>
        </div>


    </ion-content>


</ion-view>


