<ion-view view-title="历史记录">

    <ion-header-bar align-title="center">
        <a class="button icon-left ion-ios-arrow-left button-clear button-dark" href="#/tabs/test"
           nav-direction="back">返回</a>
        <h1 class="title">测试记录</h1>
    </ion-header-bar>

    <ion-content>

        <!--<div icon="ripple" class="spinner-positive spinner spinner-ripple" ng-hide="items" align="center"-->
             <!--style="margin-top: 50%;">-->
            <!--<svg style="width: 60px ;height: 60px ;">-->
                <!--<g fill="none" fill-rule="evenodd" stroke-width="3">-->
                    <!--<circle cx="32" cy="32" r="20.3471">-->
                        <!--<animate attributeName="r" begin="0s" dur="2s" values="0;24" keyTimes="0;1"-->
                                 <!--keySplines="0.1,0.2,0.3,1" calcMode="spline" repeatCount="indefinite"></animate>-->
                        <!--<animate attributeName="stroke-opacity" begin="0s" dur="2s" values=".2;1;.2;0"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                    <!--<circle cx="32" cy="32" r="1.46494">-->
                        <!--<animate attributeName="r" begin="-1s" dur="2s" values="0;24" keyTimes="0;1"-->
                                 <!--keySplines="0.1,0.2,0.3,1" calcMode="spline" repeatCount="indefinite"></animate>-->
                        <!--<animate attributeName="stroke-opacity" begin="-1s" dur="2s" values=".2;1;.2;0"-->
                                 <!--repeatCount="indefinite"></animate>-->
                    <!--</circle>-->
                <!--</g>-->
            <!--</svg>-->
        <!--</div>-->

        <div icon="bubbles" class="spinner-positive spinner spinner-bubbles" ng-hide="items" align="center"
             style="margin-top: 60%;">
            <svg style="width: 64px ;height: 64px ;">
                <g stroke-width="0">
                    <circle cx="24" cy="0" transform="translate(32,32)" r="5.5421">
                        <animate attributeName="r" dur="750ms" values="8;7;6;5;4;3;2;1;8"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="16.970562748477143" cy="16.97056274847714" transform="translate(32,32)" r="6.5421">
                        <animate attributeName="r" dur="750ms" values="1;8;7;6;5;4;3;2;1"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="1.4695761589768238e-15" cy="24" transform="translate(32,32)" r="7.5421">
                        <animate attributeName="r" dur="750ms" values="2;1;8;7;6;5;4;3;2"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="-16.97056274847714" cy="16.970562748477143" transform="translate(32,32)" r="4.20527">
                        <animate attributeName="r" dur="750ms" values="3;2;1;8;7;6;5;4;3"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="-24" cy="2.9391523179536475e-15" transform="translate(32,32)" r="1.5421">
                        <animate attributeName="r" dur="750ms" values="4;3;2;1;8;7;6;5;4"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="-16.970562748477143" cy="-16.97056274847714" transform="translate(32,32)" r="2.5421">
                        <animate attributeName="r" dur="750ms" values="5;4;3;2;1;8;7;6;5"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="-4.408728476930472e-15" cy="-24" transform="translate(32,32)" r="3.5421">
                        <animate attributeName="r" dur="750ms" values="6;5;4;3;2;1;8;7;6"
                                 repeatCount="indefinite"></animate>
                    </circle>
                    <circle cx="16.970562748477136" cy="-16.970562748477143" transform="translate(32,32)" r="4.5421">
                        <animate attributeName="r" dur="750ms" values="7;6;5;4;3;2;1;8;7"
                                 repeatCount="indefinite"></animate>
                    </circle>
                </g>
            </svg>
        </div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

            <ion-item ng-repeat="item in items"
                      item="item"
                      ng-click="showAlert(item)" class="item-remove-animate">
                历史记录 - {{ item.id }}

                <ion-option-button class="button-assertive"
                                   ng-click="showConfirm(item)">
                    删除
                </ion-option-button>
                <!--<ion-reorder-button class="ion-navicon"-->
                                    <!--on-reorder="moveItem(item, $fromIndex, $toIndex)">-->

                <!--</ion-reorder-button>-->

                <!--<ion-delete-button class="ion-minus-circled"-->
                <!--ng-click="onItemDelete(item)">-->
                <!--</ion-delete-button>-->


                <!--<ion-option-button class="button-assertive"-->
                <!--ng-click="edit(item)">-->
                <!--Edit-->
                <!--</ion-option-button>-->
            </ion-item>

        </ion-list>


    </ion-content>


</ion-view>


