<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">发布动态</h1>
    </ion-header-bar>
    <ion-content style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);">

        <div class="item" align="center" style="border-top-style: hidden;border-bottom-style: hidden;background: rgba(0, 0, 0, 0);">
            <div class="item item-image" style="border-radius: 15px;
    border-color: rgb(45, 189, 165);">
                <img src=" https://img.zcool.cn/community/018cdc5b192e73a8012034f72fd3de.jpeg">

            </div>
            <div class="list list-inset" style="margin-top: 5%;border-radius: 15px;" align="center">
                <label class="item item-input">
                    <textarea style="height: 150px;font-size: 15px" ng-model="new_social.textData" placeholder="这一刻的想法 . . ."></textarea>
                </label>

            </div>

        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="close_social_add_modal()">
                取 消
            </button>

            <button class="button  button-positive"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="fn_social_add()">
                确 定
            </button>
        </div>

    </ion-content>
</ion-modal-view>