<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">设置地区</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item" align="center" style="border-style: hidden;">
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        省 份 :
                    </div>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        城 市 :
                    </div>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>
            </div>

        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="close_set_region_modal()">
                取 消
            </button>

            <button class="button  button-positive"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="">
                确 定
            </button>
        </div>

    </ion-content>
</ion-modal-view>