<ion-view view-title="音乐">
    <ion-header-bar align-title="center">
        <h1 class="title">情感音乐</h1>
    </ion-header-bar>
    <ion-content style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);">

        <div class="list card"
             style="border-radius: 12px !important;box-shadow: 0px 0px 10px 0px #33333394; "
             ng-repeat="musicType in arr_musicType track by $index " ng-click="fn_toMusicPlayer(musicType)">
            <a class="item item-thumbnail-left item-icon-right" >
                <img ng-src="{{musicType.musicsceneImage}}"
                     style="border-radius: 6px !important;">
                <div style="margin-top: 10px;">
                    <h2>{{musicType.musicsceneName}}</h2>
                    <p>{{musicType.musicsceneText1}}</p>
                    <p>{{musicType.musicsceneText2}}</p>
                    <i class="icon ion-headphone" style="color: #22aca5;font-size: 25px;"></i>
                    <!--<i class="icon ion-ios-arrow-right" style="color: #22aca5;font-size: 25px;"></i>-->
                </div>

            </a>
        </div>


    </ion-content>

    <!--播放组建，当点击场景音乐选项卡时，出现-->
    <!--<div>-->

        <!--<ion-footer-bar align-title="center" style="background: linear-gradient(to bottom right, #FF8364 , #FF4D4D);">-->
            <!--<h1 class="title"></h1>-->
        <!--</ion-footer-bar>-->
        <!--<ion-footer-bar style="bottom: 89px;-->
    <!--background: linear-gradient(to bottom right, #FF8364 , #FF4D4D);-->
    <!--border-radius: 50%;-->
    <!--top: 83.5%;-->
    <!--left: 44%;-->
    <!--max-width: 55px;-->
    <!--max-height: 55px;-->
    <!--width: 100%;-->
    <!--height: 100%;-->
    <!--box-shadow: 0px 0px 10px 0px #85514c;" ng-click="show_start_button = !show_start_button">-->

            <!--<div ng-if="show_start_button" class="title"-->
                 <!--style="color: rgba(243, 243, 243, 0.85);font-size: 35px;top: 11%; left: 7%;">-->
                <!--<i class="icon  ion-play"></i>-->
            <!--</div>-->
            <!--<div ng-if="!show_start_button" class="title"-->
                 <!--style="color: rgba(243, 243, 243, 0.85);font-size: 35px;top: 11%; ">-->
                <!--<i class="icon  ion-pause"></i>-->
            <!--</div>-->


        <!--</ion-footer-bar>-->
        <!--<ion-footer-bar style="bottom: 89px;-->
    <!--background: linear-gradient(to bottom right, #FF8364 , #FF4D4D);-->
    <!--border-radius: 20px;-->
    <!--top: 86.5%;-->
    <!--left: 65%;-->
    <!--max-width: 120px;-->
    <!--max-height: 42px;-->
    <!--width: 100%;-->
    <!--height: 100%;-->
    <!--box-shadow: 0px 0px 10px 0px #85514c;">-->

            <!--<div class="title" style="color: rgba(243, 243, 243, 0.85);-->
    <!--font-size: 30px;-->
    <!--top: -2%;-->
    <!--left: 2%;">-->
                <!--<i class="icon  ion-ios-fastforward"></i>-->
            <!--</div>-->


        <!--</ion-footer-bar>-->

        <!--<ion-footer-bar style="bottom: 89px;-->
    <!--background: linear-gradient(to bottom right, #FF8364 , #FF4D4D);-->
    <!--border-radius: 20px;-->
    <!--top: 86.5%;-->
    <!--left: 6%;-->
    <!--max-width: 120px;-->
    <!--max-height: 42px;-->
    <!--width: 100%;-->
    <!--height: 100%;-->
    <!--box-shadow: 0px 0px 10px 0px #85514c;">-->

            <!--<div class="title" style="color: rgba(243, 243, 243, 0.85);-->
    <!--font-size: 30px;-->
    <!--top: -2%;-->
    <!--left: 2%;">-->
                <!--<i class="icon  ion-ios-star"></i>-->
            <!--</div>-->


        <!--</ion-footer-bar>-->

    <!--</div>-->

</ion-view>