<ion-modal-view>
    <ion-header-bar class="bar bar-header">
    <h1 class="title">注 册</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item" align="center" style="border-top-style: hidden;border-bottom-style: hidden;">

            <div style="background: linear-gradient(to bottom right, #45EBA5 , #21ABA5);border-radius: 30px;height: 360px;">
                <img src="imgs/logo.jpg"
                     style="margin-top: 5%;max-width: 100px;max-height: 100px;width: 100%;height: 100%;border-radius: 50%;">
                <p>
                <h2 style="color: #ffffff;font-size: 17px;">用 户 注 册</h2>
                </p>


                <div class="list list-inset" style="margin-top: 5%;border-radius: 15px;" align="center">
                    <label class="item item-input" style="height: 55px;">
                        <input type="text" placeholder="输入用户名" ng-model="register_account.userName">
                    </label>
                    <label class="item item-input" style="height: 55px;">
                        <input type="password" placeholder="输入密码" ng-model="register_account.userPassword">
                    </label>
                    <label class="item item-input" style="height: 55px;">
                        <input type="password" placeholder="确认密码" ng-model="register_account.userPassword_again">
                    </label>

                </div>
            </div>
        </div>
        <div style="margin-top: 5%;" align="center">
            <button class="button  button-stable"
                    style="border-radius: 25px;width:40%;margin-right: 4%;background: #e3e3e3;"
                    ng-click="closeRegisterModal()">
                取 消
            </button>

            <button class="button  button-balanced"
                    style="border-radius: 25px;width:40%;margin-left: 4%;"
                    ng-click="register()">
                注 册
            </button>
        </div>

    </ion-content>
</ion-modal-view>